@use "variables" as var;
*,*:after,*:before{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
html{
  box-sizing:border-box;
  font-size:62.5%;
}
body {
  font-family: 'Trebuchet MS', sans-serif;
  min-height:100vh;
  background-color: white;
  color: #333;
  font-size:1.6rem;
  line-height:1.5;
  position: relative;
}
h1,h2,h3{
  line-height:1.2;
  font-weight:bold;
  text-align:center;
}
h1{
  font-size:4rem;
}
h2{
  font-size:3.2rem;
}
h3{
  font-size:2.4rem;
}
a{
  text-decoration:none;
  color:inherit;
}
/* Utiltys and globales */
p,.text{
  font-size:1.6rem;
}
button,.btn{
  display:inline-block;
  cursor: pointer;
  border:none;   
  background:none;
  border:1px solid rgba(0, 0, 0, 0);
  background-color:var.$primary-color;
  font-size:1.6rem;
  border-radius:0.4rem;
  color:var.$text-white;
  padding:1.2rem 1.5rem;
  font-weight:bold;
}
img{
  display:block;
  margin:auto;
  width:auto;
  height:auto;
}
section{
  display:block;
  margin:2rem 0;
}
b{
  font-weight:bold;
}
svg{
  height:1.6rem;
}
input,select{
  border:none;
  background:none;
  border-radius:1.2rem;
  color:inherit;
}
input:focus,select:focus{
  outline:none;
}
select{
  appearance: none;
  background-image:url("/assets/imgs/arrow-down.svg");
  background-repeat:no-repeat;
  background-size:1rem;
  background-position:calc(100% - 1rem);
}