$primary-color:#5D6D7E;
$text-white:#fff;
$bg-white:rgb(236, 236, 236);
$text-black:#333;
$black:#000;
$nav-height:52px;
$font-2:'Protest Strike', sans-serif;
$font-3:'Raleway', sans-serif;
$green:#1ca153;
$darkgray:#9b9b9b;

// formularios
$bg-form:#010101ff;
$form-text:#727272;
$form-box:#313131ff;
$test:#8a8a8a;
$resize:false;