@use "globales/variables" as var;
.inicio{
  .subtitle{
    margin-top:2rem;
  }
  .center{
    margin-top:4rem;
    margin-bottom:2rem;
  }
  &.container{
    margin:5rem auto;
  }
}
.product{
  display:inline-block;
  padding:2rem;
  background-color:var.$bg-white;
  width:100%;
  max-width:50rem;
  border-radius:1.5rem;
  img{
    margin-top:2rem;
    height:13rem;
  }
}
