@use "globales/variables" as var;
@use "globales/mixins" as mx;
.form-container{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  
}
form{
  background-color:var.$black;
  color:var.$form-text;
  padding:4rem;
  border-radius:1rem;
  background-color:var.$bg-form;
  width:100%;
  max-width:110rem;
  min-height:20rem;
  font-weight:bold;
  .form-title{
    font-size:5rem;
    color:var.$text-white;
    text-align:left;
    margin-bottom:.4rem;
  }
  label{
    display:block;
    color:var.$text-white;
    margin-bottom:1.2rem;
  }
  .form-content{
    margin:2rem 0;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:2rem;
    @include mx.tablet(){
      grid-template-columns:1fr;
    }
  }
  input,select{
    padding:1.2rem 1.6rem;
    width:100%;
    background-color:var.$form-box;    
    color:var.$text-white;
    font-size:1.6rem;
  }
  button{
    min-width:16rem;
    border-radius:5rem;
    @media screen and (max-width:600px){
      width:100%;
    } 
  }
  svg{
    color:var.$text-white !important;
  }
  .btn-password{
    display: flex;
    align-items:center;
    justify-content:center;
  }
  .btn-password svg{
    color:darken(var.$bg-white,50%) !important;
    height:2rem;
  }
  .password-input{
    display:flex;
    align-items:center;
    padding-right:1.2rem;
    background-color:var.$form-box;
    border-radius:1.2rem;
    input{
      background:none;
    }
  }

}
.--form-login{
  form{
    max-width:60rem;
    padding:9rem;
    @media screen and (max-width:530px) {
      padding:4rem;
    }
  }
  .form-title{
    text-align:center;
    padding-bottom:2rem;
    border-bottom:3px solid var.$form-box;
  }
  .form-content{
    margin-top:4rem;
    grid-template-columns:1fr;
  }
  label{
    display:flex;
    align-items:center;
    gap:1.6rem;
    margin-bottom:2rem;
  }
  .box-container{
    padding:0 2rem;
  }
  input[type="text"],input[type="password"]{
    background-color:var.$text-white;
    color:var.$black;
  }
  .form-options{
    padding-top:2rem;
    border-top:3px solid var.$form-box;
    display:flex;
    gap:1.2rem;
    align-items:center;
    justify-content:space-between;
    @media screen and (max-width:600px) {
      flex-direction:column;
      gap:2.4rem;
    }
  }
  .btn{
    width:100%;
    max-width:24rem;
    border-radius:.4rem;
  }
  a{
    color:#A9C6EF;
    font-weight:normal;
  }
  .password-input{
    background-color:var.$text-white;
  }
}